import React from 'react';

type {{name}}Props = {
  something: string;
  other?: number;
};

export const {{name}} = (props: {{ name }}Props) => {
  const { something } = props;

  return <div>{something}</div>;
};
